.Login .flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
       }
.Login .flexContainer .loginBox{
    width: 600px;
    height: 300px;
    background: blue;
    box-shadow: 10px 10px 5px #888888
}
.Login .flexContainer .loginBox .loginMenu{
    display: flex;
}
.Login .flexContainer .loginBox .loginMenu .loginTitle{ 
       flex-grow: 2;
       text-align: center;
  }
@media screen and(max-width: 768px) {
        .Login .flexContainer .loginBox .loginMenu{
            display: table;
            margin: 0 auto;
        }
}